<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd">

        <!-- 配置视图解析器 -->
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                <!-- 使用前缀和后缀 -->
                <property name="prefix" value="/WEB-INF/page/"/>
                <property name="suffix" value=".jsp"/>
        </bean>

        <!-- 使用组件扫描的方式可以一次扫描多个Controller -->
        <context:component-scan base-package="controller"/>
        <!-- 配置注解驱动，相当于配置最新的处理器映射器和处理器适配器，对json数据响应提供支持 -->
        <mvc:annotation-driven/>

        <!--&lt;!&ndash; 配置ViewResolver 。可用多个ViewResolver 。使用order属性排序。   InternalResourceViewResolver 放在最后&ndash;&gt;-->
        <!--<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">-->
                <!--<property name="order" value="1"></property>-->
                <!--<property name="mediaTypes">-->
                        <!--<map>-->
                                <!--&lt;!&ndash; 告诉视图解析器，返回的类型为json格式 &ndash;&gt;-->
                                <!--<entry key="json" value="application/json" />-->
                                <!--<entry key="xml" value="application/xml" />-->
                                <!--<entry key="htm" value="text/htm" />-->
                        <!--</map>-->
                <!--</property>-->
                <!--<property name="defaultViews">-->
                        <!--<list>-->
                                <!--&lt;!&ndash; ModelAndView里的数据变成JSON &ndash;&gt;-->
                                <!--<bean class="org.springframework.web.servlet.view.json.MappingJacksonJsonView" />-->
                        <!--</list>-->
                <!--</property>-->
                <!--<property name="ignoreAcceptHeader" value="true"></property>-->
        <!--</bean>-->

        <!--&lt;!&ndash; 启动SpringMVC的注解功能，完成请求和注解POJO的映射 &ndash;&gt;-->
        <!--<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">-->
                <!--<property name="messageConverters">-->
                        <!--<list>-->
                                <!--<ref bean="mappingJacksonHttpMessageConverter" /> &lt;!&ndash; JSON转换器 &ndash;&gt;-->
                        <!--</list>-->
                <!--</property>-->
        <!--</bean>-->

</beans>