<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd">

        <!-- 配置视图解析器 -->
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                <!-- 使用前缀和后缀 -->
                <property name="prefix" value="/WEB-INF/page/"/>
                <property name="suffix" value=".jsp"/>
        </bean>

        <!-- 使用组件扫描的方式可以一次扫描多个Controller -->
        <context:component-scan base-package="controller"/>
        <!-- 配置注解驱动，相当于配置最新的处理器映射器和处理器适配器，对json数据响应提供支持 -->
        <mvc:annotation-driven/>

        <!--<mvc:resources location="/css/" mapping="/css/**"/>-->
        <!--<mvc:resources location="/images/" mapping="/images/**"/>-->

        <!--在springMVC-servlet.xml中配置<mvc:default-servlet-handler />后，
        会在Spring MVC上下文中定义一个org.springframework.web.servlet.resource.DefaultServletHttpRequestHandler，
        它会像一个检查员，对进入DispatcherServlet的URL进行筛查，
        如果发现是静态资源的请求，就将该请求转由Web应用服务器默认的Servlet处理，
        如果不是静态资源的请求，才由DispatcherServlet继续处理。-->
        <mvc:default-servlet-handler />

        <!-- 拦截器 -->
        <mvc:interceptors>
                <mvc:interceptor>
                        <mvc:mapping path="/**" />
                        <mvc:exclude-mapping path="/judgeQQ"/>
                        <mvc:exclude-mapping path="/judgeTelephone"/>
                        <mvc:exclude-mapping path="/judgeUsername"/>
                        <mvc:exclude-mapping path="/login"/>
                        <mvc:exclude-mapping path="/queryCourse"/>
                        <mvc:exclude-mapping path="/courseType/*"/>
                        <mvc:exclude-mapping path="/course/*"/>
                        <bean class="interceptor.LoginInterceptor" />
                </mvc:interceptor>
        </mvc:interceptors>

        <!-- 事务管理 -->
        <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
            <property name="dataSource" ref="dataSource" />
        </bean>

        <tx:annotation-driven transaction-manager="txManager" />


</beans>